# Compiled source #
###################
*.pyc
*.bak

# Logs and databases #
######################
*.csv
*.log
*.sql
*.sqlite3.db
*.sqlite

# IDE files #
#############
*.idea
*.project
*.pydevproject
*.iml

# OS files #
############
.DS_Store
*.*~
.#*
*#*

context_switch.txt