# Compiled source #
###################
*.pyc
*.bak

# Logs and databases #
######################
*.csv
*.log
*.sql
*.sqlite3.db
*.sqlite
bulkloader-log*
bulkloader-progress*

# IDE files #
#############
*.idea
*.project
*.pydevproject
*.iml

# OS files #
############
.DS_Store
*.*~
.#*
*#*


context.txt
csvsplit.py
clean_files.sh

